<%- include("header") -%>

<h2>This is the About Me page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mattis est a euismod finibus. Fusce dictum dui sed
    felis imperdiet, quis eleifend nisi mattis. Mauris accumsan sem ut fringilla interdum. Sed a sem ac ante feugiat
    facilisis quis et nisl. Pellentesque id lectus hendrerit, pretium risus non, faucibus nibh. Donec quis rhoncus
    tellus, quis molestie enim. Sed vitae leo eget felis pretium viverra non et ligula. Integer id velit enim. Quisque
    vel pretium nulla, quis auctor leo. Curabitur mattis neque sit amet vulputate faucibus. Proin quis vulputate magna.
    Phasellus at neque ut diam maximus sollicitudin. In vel eros in risus bibendum auctor. Vivamus feugiat ornare nibh,
    eu hendrerit risus. Ut id iaculis ipsum.</p>

<%- include("footer") -%>